* {
  box-sizing: border-box;
}

html {
  height: 100%;
  padding: 20px 0;
}

.terminal {
  background-color: rgb(0, 43, 54);
  color: rgba(255, 255, 255, 0.8);
  font-family: "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  line-height: 18px;
  min-height: 100%;
  margin-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.terminal-context {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px 0px rgba(255, 255, 255, 0.1) inset;
  padding: 0 20px;
}

.terminal-context.hide {
  height: 27px;
}

.terminal-context-status {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset,
              0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 200ms ease-out;
}

.terminal-context.collapsable .terminal-prompt {
  cursor: pointer;
}

.terminal-context-status.error {
  background-color: rgba(240, 52, 66, 0.8);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset,
              0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.terminal-context-status.success {
  background-color: rgba(87, 100, 217, 0.8);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3) inset,
              0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.terminal-context-status.ok  {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8) inset,
              0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.terminal-context:last-child {
  box-shadow: 0 1px 1px 0px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.terminal-context > *:last-child {
  padding-bottom: 5px;
}

.terminal-prompt {
  cursor: text;
  padding-top: 5px;
  padding-bottom: 5px;
}

.terminal-prompt-prefix,
.log-prefix,
.syntax {
  color: rgba(255, 255, 255, 0.5);
}

.terminal-prompt-prefix {
  margin-right: -1px;
  white-space: pre;
}

.terminal-input {
  padding-left: 1px;
}

.terminal-secret-input {
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: monospace;
  line-height: 18px;
}

.terminal-secret-input:focus {
  outline: none;
}

.string {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.number,
.boolean,
.link {
  color: rgba(165, 136, 211, 0.8);
}

.null {
  color: rgba(255, 255, 255, 0.2);
}

.disclosure {
  padding-right: 4px;
}

.hidden {
  display: none;
}

.collection .collection {
  margin-left: 20px;
}

.object-key {
  color: rgba(255, 255, 255, 0.8);
}

.success .object-key {
  color: rgba(108, 120, 224, 0.8);
}

.error .object-key {
  color: rgba(224, 108, 117, 0.8);
}

.object-colon,
.list-bullet {
  color: rgba(255, 255, 255, 0.5);
}
